@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

}
body {
    font-family: "Poppins" , sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
}

.search {
    background-color: transparent;
    padding: 0.5em 1em;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
    font-weight: bold;
}

.search:focus {
    outline: 0;
    background-color: #000;
}

.search::placeholder {
    background-color: #000;
}

main {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.movie {
    width: 300px;
    margin: 1em;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: lightgray;
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em 1em;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: #000;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: red;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    padding:2em;
    max-height: 100%;
    transform: translateY(101%);
    transition:transform 0.5s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}